.component {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 65%;
    margin-bottom: 2rem;
}

.component img {
    width: 6rem;
    border-radius: 0.75rem;
}

.component label {
    margin-right: 0.2rem;
}

.component input {
    width: 5rem;
}

@media only screen and (max-width: 450px) {
    .component {
        width: 90%;
    }
}